@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --i: 0
}

.el-menu {
    width: auto !important;
    border: none !important;
    background-color: transparent !important;
}

.el-menu-item.is-active {
    background-color: #457DEB;
}